<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles2.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/css3.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/styletables.css">
    <title>My Store</title>
  </head>
<div class = "body">
<form action ="/new_client" method="POST">
    <h1>CLIENTE</h1>
    <input type="text" name="name" placeholder="write your fullname"/>
    <input type="text" name="docident" placeholder="write your identification document"/>
    <button>Save</button>
    
</form>
</div>
<div class = "body">
<form action ="/new_product" method="POST">
    <h1>PRODUCTOS</h1>
   
    <input type="text" name="quantity" placeholder="write number of product"/>
    <input type="text" name="serial" placeholder="write serial product"/>
    <input type="text" name="type" placeholder="write compra o venta"/>
    <input type="text" name="price" placeholder="write price product"/>
    <input type="text" name="descrpp" placeholder="write description product"/>
    <button>Save</button>
    
</form>
</div>
<div style="text-align:left;">
<table class="a" style="margin: 0 auto;">
    <thead>
        <p>REGISTRO VENTAS DEL DIA</p>
        <tr>
            <td>descripcion</td>
            <td>price</td>
            <td>serial</td>
            <td>name</td>
            <td>date</td>
        </tr>
    </thead>
    <tbody>
        {% for d in data%}
        <tr>
            <td>{{ d.0 }}</td>
            <td>{{ d.1 }}</td>
            <td>{{ d.2 }}</td>
            <td>{{ d.3 }}</td>
            <td>{{ d.4 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>