<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles2.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/css3.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/styletables.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <title>My Store</title>
  </head>
  <body>
    <nav>
      <h3>MyStore</h3>
      <ul>
        <li><a href ="/">Inicio</a></li>
        <li><a href="formcompra.html">Compra</a></li>
        <li><a href="formventas.html">Venta</a></li>
        <li><a href="formventasdeldia.html">Ventas del dia</a></li>
        <li><a href="formproveedores.html">Proveedores</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=3507473935">Contactanos</a></li>
      </ul>
    </nav>
      <div style="text-align:left;">
        <table class="a" style="margin: 0 auto;">
            <thead>
                <p>INVENTARIO</p>
                <tr>
                    <td>LOTE</td>
                    <td>CANTIDAD</td>
                </tr>
            </thead>
            <tbody>
                {% for d in data%}
                <tr>
                    <td>{{ d.0 }}</td>
                    <td>{{ d.1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    <footer>
      <div>
        <h3>Administra tu negocio como un profesional!</h3>
      </div>
    </footer>
  </body>
</html>
