<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles2.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/css3.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <title>My Store</title>
  </head>
  <body>
    <nav>
      <h3>MyStore</h3>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="formcompra.html">Compra</a></li>
        <li><a href="formventas.html">Venta</a></li>
        <li><a href="forminventario.html">Inventario</a></li>
        <li><a href="formproveedores.html">Proveedores</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=3507473935">Contactanos</a></li>
      </ul>
    </nav>
    <div class = "body">
        <form action ="/new_client" method="POST">
            <h1>CLIENTE</h1>
            <input type="text" name="name" placeholder="write your fullname"/>
            <input type="text" name="docident" placeholder="write your identification document"/>
            <button>Save</button>
            
        </form>
        </div>
        <div class = "body">
        <form action ="/new_product" method="POST">
            <h1>PRODUCTOS</h1>
           
            <input type="text" name="quantity" placeholder="write number of product"/>
            <input type="text" name="serial" placeholder="write serial product"/>
            <input type="text" name="type" placeholder="write compra o venta"/>
            <input type="text" name="price" placeholder="write price product"/>
            <input type="text" name="descrpp" placeholder="write description product"/>
            <button>Save</button>
            
        </form>
        </div>
        <div style="text-align:left;">
        <table class="a" style="margin: 0 auto;">
            <thead>
                <p>REGISTRO VENTAS DEL DIA</p>
                <tr>
                    <td>descripcion</td>
                    <td>price</td>
                    <td>serial</td>
                    <td>name</td>
                    <td>date</td>
                </tr>
            </thead>
            <tbody>
                {% for d in data%}
                <tr>
                    <td>{{ d.0 }}</td>
                    <td>{{ d.1 }}</td>
                    <td>{{ d.2 }}</td>
                    <td>{{ d.3 }}</td>
                    <td>{{ d.4 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    <footer>
      <div>
        <h3>Administra tu negocio como un profesional!</h3>
      </div>
    </footer>
  </body>
</html>
