<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/styles/css3.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/styletables.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/styles2.css">

  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <title>My Store</title>
</head>

<body>
  <div class="contenedor" style="height: 96vh;">
    <nav>
      <h3>MyStore</h3>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="formcompra.html">Compra</a></li>
        <li><a href="formproveedores.html">Proveedores</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=3507473935">Contactanos</a></li>
      </ul>
    </nav>
    <div class="cen cenn">
      <div class="izq">
        <div class="body">
          <form action="/new_client" method="POST">
            <h1>CLIENTE</h1>
            <input type="text" name="name" placeholder="Inserta el nombre completo" />
            <input type="text" name="docident" placeholder="Inserta el numero de identificacion" /><br><br>
            <button>Save</button>
          </form>
        </div>
        <div class="body">
          <form action="/new_product" class="body2" method="POST">
            <h1>PRODUCTOS</h1>
            <input type="text" name="quantity" placeholder="Inserta el lote del producto" />
            <input type="text" name="serial" placeholder="Inserta el serial del producto" />
            <input type="text" name="type" placeholder="Inserta compra o venta" />
            <input type="text" name="price" placeholder="Inserta el precio de venta del producto" />
            <input type="text" name="descrpp" placeholder="Inserta la descripcion del producto" /><br><br>
            <button>Save</button>
          </form>
        </div>
      </div>
      <div class="carlitos car2" style="text-align:left;">
        <table class="a" style="margin: 0 auto;">
          <thead>
            <p style="margin-bottom: -10px;">REGISTRO VENTAS DEL DIA</p>
            <tr>
              <td>DESCRIPCION</td>
              <td>PRICE</td>
              <td>SERIAL</td>
              <td>NAME</td>
              <td>DATE</td>
            </tr>
          </thead>
          <tbody>
            {% for d in data%}
            <tr>
              <td>{{ d.0 }}</td>
              <td>{{ d.1 }}</td>
              <td>{{ d.2 }}</td>
              <td>{{ d.3 }}</td>
              <td>{{ d.4 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="carlitos car" style="text-align:left;">
        <table class="a" style="margin: 0 auto;">
          <thead>
            <p style="margin-bottom: -10px;">INVENTARIO</p>
            <tr>
              <td class="td">LOTE</td>
              <td class="td">CANTIDAD</td>
            </tr>
          </thead>
          <tbody>
            {% for d1 in data1%}
            <tr>
              <td class="td">{{ d1.0 }}</td>
              <td class="td">{{ d1.1 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <footer>
      <div>
        <h3>Administra tu negocio como un profesional!</h3>
      </div>
    </footer>
  </div>

</body>

</html>