<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/styles/styles2.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/css3.css">
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <title>My Store</title>
</head>

<body>
  <nav>
    <h3>MyStore</h3>
    <ul>
      <li><a href="formcompra.html">Compra</a></li>
      <li><a href="formventas.html">Venta</a></li>
      <li><a href="forminventario.html">Inventario</a></li>
      <li><a href="formventasdeldia.html">Ventas del dia</a></li>
      <li><a href="formproveedores.html">Proveedores</a></li>
      <li><a href="https://api.whatsapp.com/send?phone=3507473935">Contactanos</a></li>
    </ul>
  </nav>
  <div class="contenedor">
    <div class="wrap">
      <div class="wrap-texto">
        <p>Disfruta de manejar el control total de tu negocio
          desde la comodida de tu computador, ventas, inventario,
          proveedores y mucho mas, lo podras encontra aqui en MyStory
        </p>
      </div>
    </div>
  </div>
  <footer>
    <div>
      <h3>Administra tu negocio como un profesional!</h3>
    </div>
  </footer>
</body>

</html>