<form action ="/new_client" method="POST">
    <h1>CLIENTE</h1>
    <button>Save</button>
    <input type="text" name="name" placeholder="write your fullname"/>
    <input type="text" name="cedula" placeholder="write your number indetification"/>
</form>
<form action ="/new_supplier" method="POST">
    <h1>PROVEEDOR</h1>
    <input type="text" name="name" placeholder="write your fullname"/>
    <input type="text" name="location" placeholder="write your adress"/>
    <input type="text" name="nit" placeholder="write  NIT"/>
    <button>Save</button>
</form>