
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles2.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/css3.css">
    <title>My Store</title>
  </head>
  <body>
    <nav class="menuCSS3">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Compra</a>
          <ul>
            <li><a href="#">Proveedor</a></li>
            <li><a href="#">Prducto</a></li>
          </ul>
        </li>
        <li><a href="#">Venta</a>
          <ul>
            <li><a href="#">Cliente</a></li>
            <li><a href="#">Prducto</a></li>
          </ul>
        </li>
        </li>
      </ul>
    </nav>
    <footer>
      <p>My_store</p>
    </footer>
  </body>
</html>
